@import 'tailwindcss';

@theme {
    --color-primary: #2979ff;
    --color-secondary: #fb8c00;

    --font-sans: 'Helvetica Neue', 'Arial', 'sans-serif';

    --animate-fade-in-up: fadeInUp 1s ease forwards;
    --animate-y-float: float 3s ease-in-out infinite;
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes float {
        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-30px);
        }
    }
}
